
src/AD/__pycache__/

src/AD/heat_density_map/__pycache__/

*.pyc

src/AD/data_warehouse/

src/CM/CM_TUW4/\.metadata/

src/CM/CM_TUW9/\.metadata/


*.pyc

\.pydevproject

\.project

\.settings/org\.eclipse\.core\.resources\.prefs

src/Outputs/


*.pyc

\.pydevproject

\.project

src/AD/final_data/

\.settings/

src/AD/data_warehouse/

src/CM_intern/calc_energy_density/HOTMAPS___FirstMess/openstreetmap/

src/CM_intern/calc_energy_density/HOTMAPS___FirstMess/ED3/DATA/

*.qgs

*.qgs~

*.so

src/CM_intern/get_and_convert_OSM_data/test\.html

src/CM_intern/get_and_convert_OSM_data/links\.txt
